option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: backend.wsgi:application
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: backend.settings
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static

container_commands:
    01_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
        leader_only: true
    03_increase_request_size_limit:
        command: |
            echo "client_max_body_size 20M;" > /etc/nginx/conf.d/proxy.conf
        leader_only: true